{% extends "base.html" %}

{% block title %}Reset Password{% endblock %}

{% block content %}
<div class="flex items-center justify-center">
    <div class="w-full max-w-md bg-gray-800 p-8 rounded-lg shadow-md mt-10">
        <h2 class="text-2xl font-bold text-center text-white mb-6">Choose a New Password</h2>
        <form method="POST" action="{{ url_for('reset_password', token=token) }}">
            <div class="mb-6">
                <label for="password" class="block text-gray-400 text-sm font-bold mb-2">New Password</label>
                <input type="password" name="password" id="password" class="shadow appearance-none border rounded w-full py-2 px-3 bg-gray-700 border-gray-600 text-white mb-3 leading-tight focus:outline-none focus:shadow-outline" required>
            </div>
            <div class="flex items-center justify-center">
                <button type="submit" class="bg-blue-600 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline">
                    Reset Password
                </button>
            </div>
        </form>
    </div>
</div>
{% endblock %}

